body{
	margin:0;
	padding:0;
	background-image:url("../img/img1.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	font-family:sans-serif;
}
.panel{
	border:0px;
	background:rgba(0,0,0,0.5);
	color:#ffff;
	text-align:center;
	padding-top:50px;
}
h4{
	margin:0;
	padding:0;
	color:#F9DF05;
}
.lock{
	position:absolute;
	top:-50px;
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	background:linear-gradient(DarkSlateGray,Cyan);
	background:-webkit-linear-gradient(DarkSlateGray,Cyan);
	background:-moz-linear-gradient(DarkSlateGray,Cyan);
	border:3px outset #F4E10A;
	left:37%;
	border-radius:100%;
}

